/*========================================
  PRODUCT CATALOG
========================================*/

.catalog {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 30px;
  text-align: center;
}

.catalog h2 {
  font-size: 40px;
  color: #0055ff;
  margin-bottom: 20px;
}

.catalog > p {
  color: #a0a0a0;
  margin-bottom: 45px;
  font-size: 18px;
}

.catalog-box {
  display: flex;
  justify-content: center;
}

.catalog-card {
  width: 100%;
  max-width: 650px;

  background: rgba(0, 85, 255, 0.05);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(0, 85, 255, 0.15);

  border-radius: 25px;

  padding: 40px;

  transition: 0.4s;
}

.catalog-card:hover {
  transform: translateY(-10px);

  background: rgba(0, 85, 255, 0.12);

  border-color: #0055ff;

  box-shadow: 0 20px 40px rgba(0, 85, 255, 0.15);
}

.catalog-card i {
  font-size: 55px;

  color: #0055ff;

  margin-bottom: 20px;
}

.catalog-card h3 {
  color: #fff;

  font-size: 26px;

  margin-bottom: 15px;
}

.catalog-card p {
  color: #a0a0a0;

  line-height: 1.8;
}

.catalog-buttons {
  margin-top: 30px;

  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;
}
